@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("user"))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Flight History", "listTicket", "Ticket", routeValues: null, htmlAttributes: new { id = "listTicket" })</li>
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("admin"))
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

       
            @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <div class="collapse navbar-collapse" id="NavBar_1">
            <ul class="nav navbar-nav">
               
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage Account <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Create New User", "register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Create New Flight", "Create", "flights", routeValues: null, htmlAttributes: new { id = "createFlight" })</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("View Passager", "Index", "Passenger", routeValues: null, htmlAttributes: new { id = "passengerLink" })</li>
                    </ul>
                </li>

                <li>@Html.ActionLink("Check All tickets", "Index", "Ticket", routeValues: null, htmlAttributes: new { id = "checkTicket" })</li>


                <li>
                    @Html.ActionLink("Hello Admin" + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>



                    
                   
    </ul>
    }

}
else
{
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Register", "register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
            }
