@model IEnumerable<FlightReservation.Models.ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FinalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_of_bags)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FinalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_of_bags)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Tid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Tid }) |
            @Html.ActionLink("Flght Details", "Details", "flights", new { id = item.Fid }, null) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Tid })
        </td>
    </tr>
}

</table>
